<div class="form-container">
    <div class="form-grup">
        <label for="title" name="title id="title class="title">Title</label>
        <input type="text" value="<%= article.title %>" name="title" id="title" class="form-control" required>
        
    </div>
    <div class="form-grup mt-5">
        <label for="description" name="description" id="descriptio">Description</label>
        <textarea name="description" id="description" class="form-control" required ><%=article.description %></textarea>
        
    </div>
    
    <div class="form-grup mt-5">
        <label for="markdown" name="markdown" id="markdown">Markdown</label>
        <textarea name="markdown" id="markdown" class="form-control" required ><%= article.markdown %></textarea>
        
    </div>

    <div class="form-grup mt-5">
        <label for="Featured Image" name="image" id="image">Featured Image</label>
        <input type="file" name="featured image" name="image" />
        
        
    </div>

    <a href="/" class="btn btn-outline-danger mt-5">Cancel</a>
    <button type="submit" class="btn btn-outline-success mt-5">Submit</button>
</div>